{% extends 'JPInstagramBundle::base.html.twig' %}

{% block content %}

{% if link %}

    <a href="{{ link }}">Autoriser Appli Instagram</a>

{% else %}

    <h2>Self/Feed {{ user.username }}</h2>

    {% if photos|length %}

        {% for photo in photos %}

            <div class="photo">
                Créé par {{ photo.instagram_username }}, le {{ photo.instagram_caption_created_time|date('d/m/Y') }}<br />
                <a href="{{ photo.instagram_link }}"><img src="{{ photo.instagram_image_thumbnail }}" /></a>
            </div>

        {% endfor %}

    {% endif %}

{% endif %}

{% endblock %}
